In [3]:
!open .

In [11]:
import pandas as pd
import requests
import bs4

def make_price_dataframe(company_code, timeframe, count):
    request_code = company_code
    if request_code.startswith('A'):
        request_code = request_code.replace('A','')
    url = 'https://fchart.stock.naver.com/sise.nhn?requestType=0'
    price_url = url + '&symbol=' + request_code + '&timeframe=' + timeframe + '&count=' + str(count)
    price_data = requests.get(price_url)
    price_data_bs = bs4.BeautifulSoup(price_data.text, 'lxml')
    item_list = price_data_bs.find_all('item')
    
    date_list = []
    price_list = []
    for item in item_list:
        temp_data = item['data']
        datas = temp_data.split('|')
        date_list.append(datas[0])
        price_list.append(datas[4])

    price_df = pd.DataFrame({company_code:price_list}, index=date_list)
    
    return price_df

In [2]:
firm_code = 'A039490'
price_df = make_price_dataframe(firm_code, 'day', 100)

In [13]:
price_df

         A039490
20200915  111500
20200916  109000
20200917  108500
20200918  108500
20200921  105500
20200922  101500
20200923  101000
20200924   95000
20200925   94900
20200928   96400
20200929   99500
20201005   99600
20201006  100000
20201007   99200
20201008  100000
20201012  100000
20201013   97900
20201014   98200
20201015   96100
20201016   96800
20201019   95500
20201020   96300
20201021  101500
20201022  105000
20201023  108000
20201026  104500
20201027  103500
20201028  107500
20201029  105500
20201030  103000
...          ...
20201229  124000
20201230  126500
20210104  134500
20210105  134500
20210106  142000
20210107  147500
20210108  152000
20210111  162000
20210112  155500
20210113  153000
20210114  153000
20210115  147000
20210118  141000
20210119  149000
20210120  149000
20210121  151500
20210122  142000
20210125  145000
20210126  148000
20210127  150500
20210128  146500
20210129  141000
20210201  145500
20210202  148000
20210203  152000
20210204  149500
20210205  149000
20210208  155000
20210209  157500
20210210  149500

[100 rows x 1 columns]