In [ ]:
# !open .

In [51]:
import pandas as pd

my_port = pd.DataFrame([
                {'amount': 10900253, 'type': '증권'}, 
                {'amount': 8123500, 'type': '건설'}, 
                {'amount': 7731485, 'type': '여행'}, 
                {'amount': 5685226, 'type': '건설'},
                {'amount': 5460000, 'type': '건설'},
                {'amount': 5294142, 'type': '증권'},
                {'amount': 5013800, 'type': '건설'},
                {'amount': 4797969, 'type': '철강'},
                {'amount': 4438054, 'type': '증권'},
                {'amount': 4276000, 'type': '증권'},
                {'amount': 4067813, 'type': '철강'},
                {'amount': 3728500, 'type': '건설'},
                {'amount': 3210000, 'type': '태양광'},
                {'amount': 2966080, 'type': 'ETF'},
                {'amount': 2331850, 'type': '항공'},
                {'amount': 1662500, 'type': '보험'},
                {'amount': 1574375, 'type': '밧데리'},
                {'amount': 1420025, 'type': '철도'},
                {'amount': 1101667, 'type': '전력'},
                {'amount': 559333, 'type': '중공업'},
                {'amount': 420500, 'type': '금속'},
], 
    index=[
        '키움증권', 
        'HDC현대산업개발', 
        '하나투어',
        'GS건설',
        'DL이앤씨',
        '메리츠증권',
        '서희건설',
        '동국제강',
        '유진투자증권',
        'KODEX증권',
        'POSCO',
        'KODEX건설',
        'OCI',
        'KODEX 200 선물인버스2x',
        '대한항공',
        '메리츠화재',
        'LG화학',
        '현대로템',
        '한국전력',
        '현대중공업지주',
        '고려아연',
    ])
my_port

                     amount type
키움증권               10900253   증권
HDC현대산업개발           8123500   건설
하나투어                7731485   여행
GS건설                5685226   건설
DL이앤씨               5460000   건설
메리츠증권               5294142   증권
서희건설                5013800   건설
동국제강                4797969   철강
유진투자증권              4438054   증권
KODEX증권             4276000   증권
POSCO               4067813   철강
KODEX건설             3728500   건설
OCI                 3210000  태양광
KODEX 200 선물인버스2x   2966080  ETF
대한항공                2331850   항공
메리츠화재               1662500   보험
LG화학                1574375  밧데리
현대로템                1420025   철도
한국전력                1101667   전력
현대중공업지주              559333  중공업
고려아연                 420500   금속

In [50]:
amount_total = my_port['amount'].sum()
print('amount total : ' + str(amount_total))
types = my_port['type'].unique()
sum_of_percentage = 0
for type_ in types:
    total = my_port[my_port['type'] == type_]['amount'].sum()
    percentage = int(round(total / amount_total * 100))
    print(type_ + ' : ' + str(percentage) + '%')
    sum_of_percentage = sum_of_percentage + percentage
    
print('sum of percentage : ' + str(sum_of_percentage))

amount total : 84763072
증권 : 29%
건설 : 33%
여행 : 9%
철강 : 10%
태양광 : 4%
ETF : 3%
항공 : 3%
보험 : 2%
밧데리 : 2%
남북경협 : 2%
전력 : 1%
중공업 : 1%
금속 : 0%
sum of percentage : 99