In [3]:
!open .

In [4]:
import pandas as pd
import requests
import bs4

def request_price_list(company_code, timeframe, count):
    request_code = company_code
    if request_code.startswith('A'):
        request_code = request_code.replace('A','')
    url = 'https://fchart.stock.naver.com/sise.nhn?requestType=0'
    price_url = url + '&symbol=' + request_code + '&timeframe=' + timeframe + '&count=' + str(count)
    price_data = requests.get(price_url)
    price_data_bs = bs4.BeautifulSoup(price_data.text, 'lxml')
    item_list = price_data_bs.find_all('item')
    
    date_list = []
    price_list = []
    for item in item_list:
        temp_data = item['data']
        datas = temp_data.split('|')
        date_list.append(datas[0])
        price_list.append(datas[4])

    price_list = pd.to_numeric(price_list)
    price_df = pd.DataFrame({company_code:price_list}, index=date_list)
    price_df.index = pd.to_datetime(price_df.index)
    
    return price_df

In [5]:
firm_code = 'A039490'
price_df = make_price_dataframe(firm_code, 'day', 100)

In [6]:
price_df

           A039490
2020-09-15  111500
2020-09-16  109000
2020-09-17  108500
2020-09-18  108500
2020-09-21  105500
2020-09-22  101500
2020-09-23  101000
2020-09-24   95000
2020-09-25   94900
2020-09-28   96400
2020-09-29   99500
2020-10-05   99600
2020-10-06  100000
2020-10-07   99200
2020-10-08  100000
2020-10-12  100000
2020-10-13   97900
2020-10-14   98200
2020-10-15   96100
2020-10-16   96800
2020-10-19   95500
2020-10-20   96300
2020-10-21  101500
2020-10-22  105000
2020-10-23  108000
2020-10-26  104500
2020-10-27  103500
2020-10-28  107500
2020-10-29  105500
2020-10-30  103000
...            ...
2020-12-29  124000
2020-12-30  126500
2021-01-04  134500
2021-01-05  134500
2021-01-06  142000
2021-01-07  147500
2021-01-08  152000
2021-01-11  162000
2021-01-12  155500
2021-01-13  153000
2021-01-14  153000
2021-01-15  147000
2021-01-18  141000
2021-01-19  149000
2021-01-20  149000
2021-01-21  151500
2021-01-22  142000
2021-01-25  145000
2021-01-26  148000
2021-01-27  150500
2021-01-28  146500
2021-01-29  141000
2021-02-01  145500
2021-02-02  148000
2021-02-03  152000
2021-02-04  149500
2021-02-05  149000
2021-02-08  155000
2021-02-09  157500
2021-02-10  150000

[100 rows x 1 columns]